.capitalize {
    position: relative;

    min-height: 200px;

    white-space: nowrap;
    overflow: hidden;


    &__item {
        position: absolute;
        display: inline-block;
        padding-left: 100%;

        font-size: 80px;
        font-weight: 700;

        text-transform: uppercase;
        letter-spacing: 2px;
        -webkit-text-stroke: 1px var(--light-gray-color);
        // -webkit-text-fill-color: var(--bg-color);
        color: var(--gray-700);

        -webkit-animation: scroll 10s infinite linear;
        animation: scroll 16s infinite linear;
        animation-delay: 2s;

        &--red {
            display: inline-block;

            -webkit-text-stroke: 1px $red-color;
            color: $red-color;
        }
    }


}

@include rmin ($tablet) {
    .capitalize {
        &__item {
            font-size: 200px;
            letter-spacing: 5px;
        }
    }
}

@include rmin ($desktop) {
    .capitalize {
        min-height: 600px;
        margin: 0 -150px 0 -20px;

        &__item {
            margin-top: -55px;

            font-size: 600px;
            font-weight: 700;
            letter-spacing: 5px;


            -webkit-text-stroke: 5px var(--light-gray-color);

            &--red {
                -webkit-text-stroke: 5px $red-color;
            }
        }
    }
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);

    }

    100% {
        -webkit-transform: translate(-100%, 0);

    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}
