.contacts-map {
    animation: slide-in-right 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 0;
    animation-delay: 2s;
}

.contacts-container {

    h2,
    .contacts__address,
    .contacts__phone,
    .contacts__contact-form {
        opacity: 0;
        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    h2 {
        animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 1s;
    }

    .contacts__phone {
        animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 1.1s;
    }

    .contacts__address,
    .contacts__contact-form {
        animation-delay: 1.5s;
    }

}

@include rmin($tablet) {
    .contacts-map {
        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 2s;
    }

    .contacts-container {

        .contacts__input-field,
        .contacts__address,
        .contacts__contact-form {
            animation-delay: 1.5s;
        }
    }
}

@include rmin($desktop) {
    .contacts-container {

        .contacts__input-field,
        .contacts__address,
        .contacts__contact-form {
            animation-delay: 1.5s;
        }
    }
}
