.action-blocker {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 5;

	width: 100vw;

	pointer-events: none;
	will-change: transform, background-color;

	&.active {
		pointer-events: all;
	}

	&.animate {
		background-color: var(--text-color);
	}
}
