.icon-as {
  width: 0.86em;
  height: 1em;
  fill: white;
}
.icon-bck {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
.icon-gp {
  width: 0.9em;
  height: 1em;
  fill: white;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lamp {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-next {
  width: 2.08em;
  height: 1em;
  fill: white;
}
.icon-nxt {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-web {
  width: 0.95em;
  height: 1em;
  fill: white;
}
